html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.gl-indicator {
    top: 0px;
    width: 40px;
}

.gl-webview {
  display: block;
  border: none;
}

.nav-tabs > li {
    position:relative;
}

.nav-tabs > li > a {
    display:inline-block;
}

.nav-tabs > li > span {
    display:none;
    cursor:pointer;
    position:absolute;
    right: 6px;
    top: 8px;
    color: red;
}

.nav-tabs > li:hover > span {
    display: inline-block;
}

.tab-content > .tab-pane {
    display: block;
    height: 0;
    overflow-y: hidden;
}
.tab-content > .active {
    height: auto;
} 
